<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxzh.kjc.holiday.dao.IRecordDao">
	<insert id="addRecord" parameterType="com.zxzh.kjc.holiday.entitiy.RecordEntity">
		insert into record(
		userId,
		vid,
		duration,
		startDate,
		endDate,
		commitTime,
		orderTime,
		status,
		createTime,
		comment,
		approverId
		)
		values
		(
		#{userId},
		#{vid},
		#{duration},
		#{start},
		#{end},
		#{commitTime},
		#{orderTime},
		#{status},
		now(),
		#{comment},
		#{approverId}
		)
	</insert>
	<update id="updateStatus">
		update record
		set status = #{status}
		where recordId =
		#{recordId}
	</update>
	<select id="queryRecordBystatus" parameterType="int"
		resultType="com.zxzh.kjc.holiday.entitiy.RecordEntity">
		select
		recordId as recordId,
		userid as userId,
		vid as vid,
		duration as duration,
		startDate as start,
		endDate as end,
		commitTime as
		commitTime,
		orderTime
		as orderTime,
		status as status,
		createTime as
		createTime,
		approverId as
		approverId,
		comment as comment from record
		where userId=#{userId}
	</select>
	<select id="getRecordList" resultType="com.zxzh.kjc.holiday.entitiy.RecordEntity">
		select
		recordId as recordId,
		userid as userId,
		vid as vid,
		duration as duration,
		startDate as start,
		endDate as end,
		commitTime as commitTime,
		orderTime as orderTime,
		status as status,
		createTime as createTime,
		approverId as approverId,
		comment as comment
		from record where userId=#{userId} order by status
	</select>

</mapper>