<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxzh.kjc.holiday.dao.IUserDao">
	<resultMap type="com.zxzh.kjc.holiday.entitiy.UserEntity" id="user">
		<result property="userName" column="username" jdbcType="VARCHAR" />
		<result property="userId" column="id" jdbcType="INTEGER" />
		<result property="realName" column="name" jdbcType="VARCHAR" />
		<result property="telNumber" column="telnumber" jdbcType="VARCHAR" />
		<result property="idCard" column="idCard" jdbcType="INTEGER" />
		<result property="departmentId" column="department_id"
			jdbcType="INTEGER" />
		<result property="sex" column="sex" jdbcType="VARCHAR" />
		<result property="isMarry" column="ismarry" jdbcType="INTEGER" />
		<result property="isaLive" column="islive_id" jdbcType="INTEGER" />
		<result property="age" column="age" jdbcType="INTEGER" />
		<result property="hireDate" column="hiredate" jdbcType="TIMESTAMP" />
		<result property="location" column="location" jdbcType="INTEGER" />
		<result property="passWord" column="password" jdbcType="INTEGER" />
		<result property="roleId" column="roleId" jdbcType="INTEGER" />
	</resultMap>
	<select id="getUserById" parameterType="int" resultMap="user">
		select *
		from employee where id = #{userId}
	</select>
	<select id="getUserByName" resultMap="user">
		select *
		from employee
		where
		username= #{userName}
	</select>
	<select id="getByNameAndPasswd" resultMap="user">
		select * from employee
		where username = #{userName} and password=#{passwd}
	</select>
	<select id="getAdminList" parameterType="int" resultMap="user">
		select * from employee
		where roleid=#{roleId}
	</select>
	
	
</mapper>