<!DOCTYPE html>
<html class="no-js">
<head>
<title>假期管理</title>
<!-- Bootstrap -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen" />
<link href="../bootstrap/css/bootstrap-responsive.min.css"
	rel="stylesheet" media="screen" />
<link href="../bootstrap/css/jquery.easy-pie-chart.css" rel="stylesheet"
	media="screen" />
<link href="../bootstrap/css/styles.css" rel="stylesheet" media="screen" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<script src="../bootstrap/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="../scripts/vocationInfo.js" type="text/javascript"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">假期管理</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="dropdown"><a href="#" role="button"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="icon-user"></i>用户名 <i class="caret"></i>

						</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">用户名</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="login.html">退出</a></li>
							</ul></li>
					</ul>
					<ul class="nav">
						<li class="dropdown"><a href="#" role="button"
							class="dropdown-toggle" data-toggle="dropdown">用户假期 <i
								class="caret"></i>

						</a>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">用户信息</a></li>
								<li><a tabindex="-1" href="#">用户拥有的假期</a></li>
								<li><a tabindex="-1" href="#">我的假单</a></li>
							</ul></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3" id="sidebar">
				<ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
					<li><a href="../index/index"><i
							class="icon-chevron-right"></i> 用户享有假期</a></li>
					<li><a href="../index/toLeave.html"><i
							class="icon-chevron-right"></i> 请假申请</a></li>
					<li class="active"><a href="../index/myLeaveList"><i class="icon-chevron-right"></i>
							我的假单</a></li>
				</ul>
			</div>

			<!--/span-->
			<br></br>
			<div class="span9" id="content">
				<div class="row-fluid">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">您享有的假期</div>
							<div class="pull-right">
								<span class="badge badge-warning">查看更多</span>
							</div>
						</div>
						<div class="block-content collapse in">
							<div class="block-content collapse in">
								<div class="span12">
									<table class="table table-condensed">
										<thead>
											<tr>
												<th>假期类别</th>
												<th>开始时间</th>
												<th>结束时间</th>
												<th>请假时长</th>
												<th>假单状态</th>
												<th>审批人</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="record: ${recordPojoList}" class="vocation_row">
												<td th:text="${record.vocationName}"></td>
												<td th:text="${record.startTime}"></td>
												<td th:text="${record.endTime}"></td>
												<td th:text="${record.interval}"></td>
												<td th:text="${record.status}"></td>
												<td th:text="${record.approvalName}"></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- /block -->
				</div>
			</div>
		</div>
		<hr></hr>
		<!-- <footer>
			<p>Vincent Gabriel 2013</p>
		</footer> -->
	</div>
	<!--/.fluid-container-->
	<script src="../bootstrap/js/jquery.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/vocationInfo.js" type="text/javascript"></script>
	<!-- <script src="../bootstrap/js/jquery-1.9.1.min.js"></script> -->
	<script src="../bootstrap/js/jquery.easy-pie-chart.js"></script>
	<script src="../bootstrap/js/scripts.js"></script>
	<script>
		$(function() {
			// Easy pie charts
			$('.chart').easyPieChart({
				animate : 1000
			});
		});
	</script>
</body>

</html>