
<!DOCTYPE html>
<html>
<head>
<title>假期信息</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link href="../bootstrap/css/bootstrap.min.css" type="text/css"
	rel="stylesheet" />
<link href="../css/signin.css" type="text/css" rel="stylesheet" />
<script src="../bootstrap/js/jquery.min.js" type="text/javascript"></script>
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../scripts/vocationInfo.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" th:text="${userInfo.realName}"> Java <b
					class="caret"></b>
			</a>
				<ul class="dropdown-menu">
					<li><a href="#">我的假单</a></li>
					<li><a href="#">我的信息</a></li>
				</ul></li>
			<li class="active"><a href="#">退出</a></li>
		</ul>
		<table class="table table-hover">
			<tr>
				<th>假期类型</th>
				<th>享有天数</th>
				<th>已修天数</th>
				<th>结余天数</th>
				<th>操作类型</th>
			</tr>
			<tr th:each="vocation: ${userVocation}" class="vocation_row">
				<td th:text="${vocation.envocation.vocationId}"
					style="display: none" class="hahha"></td>
				<td th:text="${vocation.envocation.userId}" style="display: none"></td>
				<td th:text="${vocation.vocationName}"></td>
				<td th:text="${vocation.envocation.term}"></td>
				<td th:text="${vocation.envocation.balanceTime}"></td>
				<td
					th:text="${vocation.envocation.term}-${vocation.envocation.balanceTime}"></td>
				<td name="fananran"><a href="#" class="forLeave">去请假</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
